{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css'%}"> -->
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- Sub Header -->
  <!-- <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky background-header">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'home' %}" class="logo">
                          Edu Meeting
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="{% url 'home' %}" class="active">Home</a></li>
                          <li><a href="{% url 'meetings' %}">Meetings</a></li>
                          <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="{% url 'meetings' %}">Upcoming Meetings</a></li>
                                  <li><a href="{% url 'meeting-details' %}">Meeting Details</a></li>
                                  <li><a href="{% url 'user_profile' %}">Profile</a></li>
                                  <li><a href="{% url 'search_user' %}">Results</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li> 
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                          {% if user.is_authenticated %}
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-user-circle"></i> {{ user.username }}
                              </a>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{% url 'user_profile' %}">
                                      <i class="fas fa-user"></i> Profile
                                  </a>
                                  <a class="dropdown-item" href="{% url 'edit_profile' %}">
                                      <i class="fas fa-cog"></i> Edit Profile
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <form method="post" action="{% url 'logout' %}" class="d-inline">
                                      {% csrf_token %}
                                      <button type="submit" class="dropdown-item" style="background:none; border:none; width:100%; text-align:left;">
                                          <i class="fas fa-sign-out-alt"></i> Logout
                                      </button>
                                  </form>
                              </div>
                          </li>
                          {% else %}
                          <li class="nav-item">
                              <a class="btn btn-primary btn-sm ml-2" href="{% url 'login' %}">
                                  <i class="fas fa-sign-in-alt"></i> Login
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="btn btn-outline-primary btn-sm ml-2" href="{% url 'register' %}">
                                  <i class="fas fa-user-plus"></i> Register
                              </a>
                          </li>
                          {% endif %}
                      </ul>     
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>